{% extends 'base2.html' %}


{% block titulo %}
    Lista de Materiales
{% endblock titulo %}


{% block contenido %}
{% if perms.auth.administrador_permiso %}
<h1 class="app-page-title">Lista de Materiales</h1>
<div class="app-card app-card-orders-lable shadow-sm mb-s" id="tabla-materiales">
  
  
 
  <table class="table  table-borderless">
      <thead class="table-info">
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          
          
          <th>Acciones</th>
      </thead>
      <tbody>
          {% for material in materiales %}
          <tr>
                <td>{{material.nombre}}</td>
                <td>{{material.precio}}</td>
                <td>{{material.cantidad}}</td>
                
                
                <td>
                  <div lass="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-primary" href="{% url 'materiales:ver' material.pk%}">Ver</a>
                    <a class="btn btn-outline-primary"  href="{% url 'materiales:editar' material.pk %}">Editar<a></a>
                    <button 
                        onclick="muestraModal('{% url 'materiales:eliminar' material.pk %}','{{material.nombre}}')" 
                        type="button" class="btn btn-outline-primary" 
                        data-toggle="modal" data-target="#exampleModal">
                        Eliminar 
                    </button>
                    
                  </div>
                </td>
                
                
          </tr>
          {% endfor %}
      </tbody>
  </table>
  
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalCuerpo" >         
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <form id="formEliminar" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endblock contenido %}

  <!-- Button trigger modal -->
