{% extends 'base2.html' %}


{% block titulo %}
    Detalles de Operación
{% endblock titulo %}
    

{% block contenido %}
<h1 class="app-page-title">Detalles de Operación</h1>
<div class="app-card app-card-orders-lable shadow-sm mb-s">
    <table class="table table-borderless">
        <thead class="table-info"> 
            <th>Usuario</th>
            <th>Operación</th>
            <th>Precio</th>
            
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Material</th>
        </thead>
        <tbody>
            <tr>
                <td>{{object.usuario}}</td>
                <td>{{object.nombre}}</td>
                <td>{{object.precio_unitario}}</td>
                <td>{{object.cantidad}}</td>                
                <td>{{object.fecha}}</td>
                <td>{{object.material}}</td>
          </tr>
        </tbody>
    </table>
    
    </div>
        
    <br>
    <a href="{% url 'operaciones:lista' %}" class="btn btn-info">Regresar</a>
 {% endblock contenido %}
